# Package Files #
*.jar
*.war
*.ear

log
log/*
/*.log.*
db.properties
.checkstyle

# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old
*.sql

# eclipse conf file  重新导入的项目，注意文件是自动生成信息从哪来获取的？
.settings
.classpath
.project
.manager

# idea
*.iml
*.iws
*.ipr
/.idea


# building  注意先删除配置信息，然后新建测试目录
bin
target
#build
null
#tmp*
#temp*
dist
test-output
build.log


# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc//gserver